/* S'applique au body de la page */
body {
    background-color: aquamarine;

}

/* S'applique à tous les divs de la page*/
div {
    display: inline-block;
}

/* S'applique à tous les éléments qui ont la class "list_element */
.list_element {
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

/* S'applique à tous les éléments qui ont la clase "titre */
.titre {
    color: blueviolet;

}